<form formGroup="itemForm">
  <div class="item p-grid">
    <div class="p-col-6  p-d-flex p-ai-center">
      <span class="iconify  p-mr-2" data-inline="false" data-icon="emojione:money-bag" style="font-size: 20px;"></span>
      <input type="text" formControlName="name" placeholder="Sueldo" pInputText />
    </div>
    <div class="p-col-6 p-d-flex p-ai-center">
      <span class="iconify p-mr-2" data-inline="false" data-icon="emojione:money-with-wings" style="font-size: 20px;"></span>
      <p-inputNumber formControlName="amount" prefix="$ " placeholder="$ 0"></p-inputNumber>
    </div>
  </div>
</form>