
.item {
  border: 0.5px solid var(--green-500);
  border-radius: 10px;
  height: 50px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item div {
  display: flex;
}

.iconify {
  margin-right: 10px;
}

p {
  font-size: 0.8rem;
}