<div class="incomes">
  <div class="title p-d-flex p-jc-center p-ai-center">
    <h1>Crea tu planilla de ingresos mensuales</h1>
  </div>

  <div class="sub-title p-d-flex p-jc-center p-ai-center">
    <p>Añade tus ingresos</p>
  </div>
  
  <div class="items">
    <button pButton pRipple type="button" label="+ Ingreso" class="p-button-outlined"></button>
  </div>

  <div class="wrap-button p-d-flex p-jc-center p-ai-end">
    <button pButton pRipple type="button" label="Siguiente" class="p-button-rounded" (click)="submitPage()"></button>
  </div>

</div>
<!-- <a routerLink="/auth" (click)="logout()">Logout</a> -->