.incomes {
  padding: 0 20px;
}

.title {
  margin-top: 10px;
  height: 55px;
  border-bottom: 0.5px solid black;
}

.sub-title {
  height: 55px;
  font-size: 0.9rem;
}

.items {
  padding: 10px 10px;
  height: 340px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, minmax(50px, 60px));
  gap: 5px;
  align-items: center;
}

.items button {
  border-radius: 10px;
  border-style: dashed;
  box-shadow: none;
  height: 50px;
}

.items button:focus {
  border-style: dashed;
}

.wrap-button {
  height: 55px;
}

button {
  height: 36px;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

:host ::ng-deep .p-dialog .p-dialog-header {
  padding: 0.5rem 1.5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.name, .amount {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.name label, .amount label {
  margin-bottom: 3px;
}

:host ::ng-deep .p-dialog input {
  width: 240px;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.save {
  margin-top: 1rem;
}