<div class="expenses">
  <div class="title p-d-flex p-jc-center p-ai-center">
    <h1>Crea tu planilla de gastos mensuales</h1>
  </div>

  <div class="sub-title p-d-flex p-jc-center p-ai-center">
    <p>Añade tus gastos</p>
  </div>

  <div class="items">

    <ng-template #item></ng-template>

    <div class="wrap-button p-d-flex p-jc-center p-ai-center">
      <button pButton pRipple type="button" label="+ Nuevo Gasto" class="p-button-rounded" (click)="addItemComponent()"></button>
    </div>
  </div>

  <div class="wrap-button p-d-flex p-jc-center p-ai-end">
    <button style="height: 36px;" pButton pRipple type="button" label="Siguiente" class="p-button-rounded" (click)="submitPage()"></button>
  </div>

</div>