.expenses {
  margin: 20px;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.title {
  height: 55px;
}
