<div class="footer">
  <div class="p-grid p-m-0 menu">
    <div (click)="goHome()" class="p-col-4 p-d-flex p-ai-center p-jc-center p-p-0">
      <span class="iconify" style="font-size: 28px;" data-icon="ion-home-outline" data-inline="false"></span>
    </div>
    <div (click)="goEdit()" class="p-col-4 p-d-flex p-ai-center p-jc-center p-p-0">
      <span class="iconify" style="font-size: 30px;" data-icon="ion-create-outline" data-inline="false"></span>
    </div>
    <div (click)="goStats()" class="p-col-4 p-d-flex p-ai-center p-jc-center p-p-0">
      <span class="iconify" style="font-size: 28px;" data-icon="ion-pie-chart-outline" data-inline="false"></span>
    </div>
  </div>
</div>